.table tbody td.status span {
    position: relative;
    border-radius: 30px;
    padding: 4px 10px 4px 25px; }
    .table tbody td.status span:after {
        position: absolute;
        top: 9px;
        left: 10px;
        width: 10px;
        height: 10px;
        content: '';
        border-radius: 50%; }

.table tbody td.status .available {
    background: #cff6dd;
    color: #1fa750; }
    .table tbody td.status .available:after {
        background: #23bd5a; }

.table tbody td.status .borrowed {
    background: #fdf5dd;
    color: #cfa00c; }
    .table tbody td.status .borrowed:after {
        background: #f2be1d; }

.table tbody td.status .borrowed {
    background: #fdf5dd;
    color: #cfa00c; }
    .table tbody td.status .borrowed:after {
        background: #f2be1d; }

.table tbody td.status .faulty {
    background: #fddddd;
    color: #cf130c; }
    .table tbody td.status .faulty:after {
        background: #f22f1d; }




        

.table-active,
.table-active > th,
.table-active > td {
    background-color: rgba(0, 0, 0, 0.075); }
      
.table-hover .table-active:hover {
    background-color: rgba(0, 0, 0, 0.075); }
    .table-hover .table-active:hover > td,
    .table-hover .table-active:hover > th {
        background-color: rgba(0, 0, 0, 0.075); }

