{% extends "base.html" %}

{% block title %} Adding Equipment {% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      
        <link rel="stylesheet" href="/static/adding_equipment-style.css">
    
    </head>
    <body class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                
                </div>
                <div class="col-md-6 text-center mb-5">
                    <form method="POST">

    
                        <p class="fst-normal fs-2 text-end">הוספת ציוד </p>
                        <br>
                      
                        <div class="form-outline mb-4 text-end">
                            <label class="form-label" for="form3Example3"> סוג הציוד</label>
                            <select type="text" id="form3Example3" name="equipment" class="form-control form-control-lg text-end">
                                <option value="Camera">Camera</option>
                            <option value="Rec">Rec</option>
                            <option value="Apple">Apple</option>
                            <option value="Tripod">Tripod</option>
                            <option value="Projectors">Projectors</option>
                            <option value="Cables">Cables</option>
                            <option value="Lights">Lights</option>
                            <option value="Convertors">Convertors</option>
                            </select><br>
                        </div>
                            
                        
    
                        <div class="form-outline mb-4 text-end">
                            <label class="form-label" for="model">מודל</label>
                            <input type="text" id="model" name="model" class="form-control form-control-lg text-end" >
                        </div>
    
                        <div class="form-outline mb-4 text-end">
                            <label class="form-label" for="serialNumber">מק"ט</label>
                            <input type="text" id="serialNumber" name="serialNumber" class="form-control form-control-lg text-end" >
                        </div>
    
                        
    
                        <div class="form-outline mb-4 text-end">
                            <label class="form-label" for="maxTime">זמן השאלה</label>
                            <input type="number" id="maxTime" name="maxTime" class="form-control form-control-lg text-end" >
                        </div>
                    
                        
                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="submit" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">הוסף ציוד </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="js/jquery.min.js"></script>
        <script src="js/popper.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/main.js"></script>
            </body>
        </html>
        
        
        {% endblock %}
    