<!doctype html>
<html dir="rtl">


<!--Show error/success messages in screen-->
<style>
  .alert {
      font-size: 1.25rem !important;
      padding: 0.75rem !important;
      margin-bottom: 0.75rem !important;
      width: 100% !important;
      text-align: right !important;
  }
</style>


<!-- Show error/success messages on the screen -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == 'error' %}
                <div class="alert alert-danger alert-dismissable fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% else %}
                <div class="alert alert-success alert-dismissable fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}



<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>{% block title %}{% endblock %}</title>
  <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet'>
  <link href='https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css' rel='stylesheet'>
  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <link rel="stylesheet" href="/static/base-style.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>


</head>

<body className='snippet-body'>

  <body id="body-pd">
    <header class="header" id="header">
      <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
      <a class="nav-link notu-icon" href="/notifications">
        <i class='bx bxs-bell' size="lg"></i>
        <span class="badge rounded-pill bg-secondary"><p id="notificationCount" style="margin-bottom: 0;">0</p></span>
        </i>
      </a>

    </header>
    <div class="l-navbar" id="nav-bar">
      <nav class="nav">
        <div>
          <a class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i>
            <span class="nav_logo-name">SCStudio</span> </a>
          <div class="nav_list">

            <a href="/equipment" class='nav_link {{' active' if request.endpoint=='views.equipment' }}'> <i
                class='bx bx-grid-alt nav_icon'></i>
              <span class="nav_name">ציוד</span> </a>




            {% if user.userType == 'Manager' %}
            <a href="/borrowed_equipment" class='nav_link {{' active' if 'borrowed_equipment' in request.endpoint }}'>
              <i class='bx bx-message-square-detail nav_icon'></i>
              <span class="nav_name">ציוד מושאל</span> </a>
            {% else %}
            <a href="/user_borrowing" class='nav_link {{' active' if 'user_borrowing' in request.endpoint }}'> <i
                class='bx bx-message-square-detail nav_icon'></i>
              <span class="nav_name">ההשאלות שלי</span> </a>
            {% endif %}


            {% if user.userType == 'Manager' %}
            <a href="/eq_transfer" class='nav_link {{' active' if 'eq_transfer' in request.endpoint }}'> <i
                class='bx bx-message-check nav_icon'></i>
              <span class="nav_name">מסירת ציוד</span> </a>
            {% else %}

            {% endif %}


            {% if user.userType == 'Manager' %}

            {% else %}
            <a href="/borrow" class='nav_link {{' active' if request.endpoint=='views.borrow' }}'>
              <i class='bx bxs-component nav_icon'></i>
              <span class="nav_name">השאלת ציוד</span> </a>
            {% endif %}


            {% if user.userType == 'Manager' %}
            <a href="/adding_equipment" class='nav_link {{' active' if request.endpoint=='views.adding_equipment' }}'>
              <i class="bx bx-plus nav_icon"></i>
              <span class="nav_name">הוספת ציוד</span> </a>
            {% else %}

            {% endif %}




            {% if user.userType == 'Manager' %}

            {% else %}
            <a href="/rooms" class='nav_link {{' active' if 'rooms' in request.endpoint }}'>
              <i class='bx bx-camera nav_icon'></i>
              <span class="nav_name">הזמנת אולפן</span> </a>
            {% endif %}


            {% if user.userType == 'Manager' %}
            
            <a href="/return_policy" class='nav_link {{' active' if request.endpoint=='views.Return_Policy' }}'>
              <i class="bx bx-wrench"></i>
              <span class="nav_name">מדיניות החזרה</span> </a>
              {% else %}

            {% endif %}
       





            <!-- 
            <a href="/Fixing_equipment" class='nav_link {{' active' if 'Fixing_equipment' in request.endpoint }}'>
              <i class='bx bx-bug nav_icon'></i>
              <span class="nav_name"> שליחה לתיקון </span> </a>
          -->
          
            <!-- 
            <a href=# class='nav_link'> 
              <i class='bx bx-bug nav_icon'></i>
              <span class="nav_name">כלום</span> </a>
              
            <a href="#" class="nav_link"> <i class='bx bx-user nav_icon'></i>
              <span class="nav_name">Users</span> </a>

            <a href="#" class="nav_link"> <i class='bx bx-bookmark nav_icon'></i>
              <span class="nav_name">Bookmark</span></a>
          

            <a href="/test" class='nav_link {{' active' if request.endpoint=='test' }}'> <i
                class='bx bx-bar-chart-alt-2 nav_icon'></i>
              <span class="nav_name">סטטיסטיקה</span> </a>
            -->
          </div>

        </div>
        <a href="{{ url_for('auth.logout') }}" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span
            class="nav_name">התנתקות</span> </a>
    </div>

    </div>

    </nav>
    </div>

    <!--Container Main start-->
    <div>
      {% block content %}
      {% endblock %}
    </div>
    <!--Container Main end-->
    <script type='text/javascript'
      src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js'></script>
    <script src="/static/base-script.js"></script>

  </body>

</html>