{% extends "base.html" %}

{% block title %} Equipment {% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='equipment-style.css') }}">
</head>

<body>
  <div class="container">
    <h1>רשימת ציוד</h1>
    <form method="GET">
      <div class="row">
        <div class="col">
          <select name="type">
            <option value="">סוג ציוד</option>
            <option value="Camera">מצלמות </option>
            <option value="Rec">מקרופונים</option>
            <option value="Apple">מוצרי אפל </option>
            <option value="Tripod">חצובות </option>
            <option value="Projectors">פרוזקטורים </option>
            <option value="Cables">כבלים </option>
            <option value="Lights">תאורה </option>
            <option value="Convertors">מתאמים </option>
          </select>
        </div>
        <div class="col">
          <select name="available">
            <option value="">הכל</option>
            <option value="available">זמין</option>
            <option value="borrowed">מושאל</option>
            {% if user.userType == 'Manager' %}
            <option value="faulty">תקול </option>
            {% endif %}
          </select>
        </div>
        <div class="col">
          <button type="submit" class="btn btn-primary">סנן</button>
        </div>
      </div>
    </form>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th>זמינות</th>
          <th>מק"ט</th>
          <th>מודל</th>
          <th>סוג ציוד</th>          
        </tr>
      </thead>
      <tbody>

        <!-- for Manager-->
        {% if user.userType == 'Manager' %}
        {% for equipment in equipment_list %}
        <tr>
          {% if equipment.status == 'available'%}
            <td class="status"><span class="available">זמין</span></td>
          {% endif%}

          {% if equipment.status == 'borrowed'%}
          <td class="status"><span class="borrowed">מושאל</span></td>
          {% endif%}

          {% if equipment.status == 'faulty'%}
          <td class="status"><span class="faulty">תקול</span></td>
          {% endif%}

          <td>{{ equipment.serial_number }}</td>
          <td>{{ equipment.model }}</td>
          <td>{{ equipment.Type }}</td>                                    
        </tr>
        {% endfor %}

        <!-- for Student / Teacher-->
        {% else %}
        {% for equipment in equipment_list %}
        {% if equipment.status != 'faulty'%}
        <tr>
          {% if equipment.status == 'available'%}
            <td class="status"><span class="available">זמין</span></td>
          {% endif%}

          {% if equipment.status == 'borrowed'%}
          <td class="status">
            <form method="POST">
              <input type="submit" class="btn btn-primary" value="פרטי משאיל">
              <span class="borrowed">מושאל</span>
            </form>
          </td>
          {% endif%}

          <td>{{ equipment.serial_number }}</td>
          <td>{{ equipment.model }}</td>
          <td>{{ equipment.Type }}</td>                                    
        </tr>
        {% endif %}
        {% endfor %}

        {% endif%}
      </tbody>
    </table>
  </div>
</body>

</html>
{% endblock %}