{% extends "base.html" %}

{% block title %} notifications {% endblock %}

{% block content %}

<!doctype html>
<html lang="en">

<head>
    <title>Table 03</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/static/equipment-style.css">

</head>

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-end">
                    <div class="table-wrap ">
                        <h3> ההתראות שלי</h3>
                        <table class="table">
                            <thead class="thead-primary text-end">
                                <tr>
                                    <th>תיאור ההתראה</th>
                                    <th>תאריך</th>
                                    <th>משתמש רלוונטי</th>
                                    <th>סוג הציוד </th>
                                    <th>מק"ט</th>
                                    <th>סמן כנקראה</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for notification in notifs %}
                                <tr>
                                    <form>
                                        <td>{{ desc_dict[notification.type] }}</td>
                                        <td>{{ notification.date }}</td>
                                        <td>{{ notification.to_user.name }}</td>
                                        <td>{{ eq_dict[notification.eq_type.Type] }}</td>
                                        <td>{{ notification.item }}</td>
                                        <td><a href="/seen_notification?notif_id={{ notification.id }}"><i
                                                    class='bx bx-check-circle' style="font-size:1.5rem;"></i></a>
                                        </td>
                                    </form>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

</body>

</html>


{% endblock %}