{% extends "base.html" %}

{% block title %} notifications {% endblock %}

<!--Show error/success messages in screen-->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
{% if category =='error' %}
<div class="alert alert-danger alter-dismissable fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% else %}
<div class="alert alert-success alter-dismissable fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %} {% endfor %} {% endif %} {% endwith %}


{% block content %}

<!doctype html>
<html lang="en">

<head>
    <title>Table 03</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/static/equipment-style.css">

</head>

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-end">
                    <div class="table-wrap ">
                        <h3> ההתראות שלי</h3>
                        <table class="table">
                            <thead class="thead-primary text-end">
                                <tr>
                                    <th>סמן כנקראה</th>
                                    <th>פריט רלוונטי</th>
                                    <th>משתמש רלוונטי</th>
                                    <th>תאריך</th>
                                    <th>תיאור ההתראה</th>
                                    <th>סוג</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for notification in notifs %}
                                <tr>
                                    <form>
                                        <input type="hidden" name="borrow_id" value="{{ borrow.id }}">
                                        <td><a href="/seen_notification?notif_id={{ notification.id }}"><i
                                                    class='bx bx-check-circle' style="font-size:1.5rem;"></i></a>
                                        </td>
                                        <td>{{ notification.item }}</td>
                                        <td>{{ notification.user.name }}/td>
                                        <td>{{ notification.date }}</td>
                                        <td>{{ desc_dict[notification.type] }}</td>
                                        <th scope="row" class="scope">{{ notification.type }}</th>

                                    </form>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

</body>

</html>


{% endblock %}