{% extends "base.html" %}

{% block title %} profile {% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/static/equipment_failure-style.css">

</head>

<body class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div>

                <p class="fst-normal fs-2 text-end"> החשבון שלי</p>
                <br>


                <div class="card container-fluid" style="width: 50%; padding:0;">
                    <div class="card card-header container-fluid">
                        <div class="card-body text-end" style="font-size:1.25rem;">
                            <h5 class="card-title" style="font-size:1.75rem;">{{ user.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted" style="font-size:1.5rem;">{{ user.userType }}</h6>
                            <p class="card-text"></p>
                            <p class="card-text">{{ user.email }} &emsp;:מייל </p>
                            <p class="card-text">{{ user.phone}} &emsp;:מספר נייד </p>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item card container-fluid">
                            <!-- change it for the change password -->
                            <div class="card-body text-end" style="font-size:1.25rem;">
                                </br>
                                <h5 class="card-title" style="font-size:1.5rem;">שינוי סיסמה</h5>
                                <hr />
                                </br>
                                <p class="card-text"></p>
                                <p class="card-text">
                                    <div class="form-control mb-3 text-end">
                                        <label class="form-label" for="old-pass">סיסמה ישנה</label>
                                        <div class="input-group">
                                            <input type="password" id="old-pass" name="old-pass" class="form-control form-control-lg text-end"
                                                placeholder="הכנס סיסמה" />
                                            <button class="btn btn-outline-secondary" type="button" id="toggleOldPassword">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-control mb-3 text-end">
                                        <label class="form-label" for="pass1">סיסמה חדשה</label>
                                        <div class="input-group">
                                            <input type="password" id="pass1" name="pass1" class="form-control form-control-lg text-end"
                                                placeholder="הכנס סיסמה חדשה" />
                                            <button class="btn btn-outline-secondary" type="button" id="toggleNewPassword">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-control mb-3 text-end">
                                        <label class="form-label" for="pass2">סיסמה חדשה שוב</label>
                                        <div class="input-group">
                                            <input type="password" id="pass2" name="pass2" class="form-control form-control-lg text-end"
                                                placeholder="הכנס סיסמה חדשה שוב" />
                                            <button class="btn btn-outline-secondary" type="button" id="toggleConfirmPassword">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">שנה סיסמה</button>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        function togglePasswordVisibility(inputId) {
            var input = document.getElementById(inputId);
            var icon = input.nextElementSibling;
            if (input.type === "password") {
                input.type = "text";
                icon.classList.remove("fa-eye");
                icon.classList.add("fa-eye-slash");
            } else {
                input.type = "password";
                icon.classList.remove("fa-eye-slash");
                icon.classList.add("fa-eye");
            }
        }
        document.getElementById("toggleOldPassword").addEventListener("click", function() {
            togglePasswordVisibility("old-pass");
        });
        document.getElementById("toggleNewPassword").addEventListener("click", function() {
            togglePasswordVisibility("pass1");
        });
        document.getElementById("toggleConfirmPassword").addEventListener("click", function() {
            togglePasswordVisibility("pass2");
        });
    </script>
</body>

</html>
{% endblock %}
