{% extends "base.html" %}

{% block title %} profile {% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/static/equipment_failure-style.css">

</head>

<body class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div>

                <p class="fst-normal fs-2 text-end"> החשבון שלי</p>
                <br>


                <div class="card container-fluid" style="width: 50%; padding:0;">
                    <div class="card card-header container-fluid">
                        <div class="card-body text-end" style="font-size:1.25rem;">
                            <h5 class="card-title" style="font-size:1.75rem;">{{ user.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted" style="font-size:1.5rem;">{{ user.userType }}</h6>
                            <p class="card-text"></p>
                            <p class="card-text">{{ user.email }} &emsp;:מייל </p>
                            <p class="card-text">{{ user.phone}} &emsp;:מספר נייד </p>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item card container-fluid">
                            <!-- change it for the change password -->
                            <div class="card-body text-end" style="font-size:1.25rem;">
                                </br>
                                <h5 class="card-title" style="font-size:1.5rem;">שינוי סיסמה</h5>
                                <hr />
                                </br>
                                <p class="card-text">
                                        <label class="form-label" for="oldpass">סיסמה ישנה</label>
                                        <div class="input-group">
                                            <input type="password" id="oldpass" name="oldpass" class="form-control form-control-lg text-end"
                                                placeholder="הכנס סיסמה" />
                                            <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </div>
                                        <label class="form-label" for="pass-1">סיסמה חדשה</label>
                                        <div class="input-group">
                                            <input type="password" id="pass1" name="pass1" class="form-control form-control-lg text-end"
                                                placeholder="הכנס סיסמה חדשה" />
                                            <button class="btn btn-outline-secondary" type="button" id="toggleNewPassword">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </div>
                                        <label class="form-label" for="pass-2">סיסמה חדשה שוב</label>
                                        <div class="input-group">
                                            <input type="password" id="pass2" name="pass2" class="form-control form-control-lg text-end"
                                                placeholder="הכנס סיסמה חדשה שוב" />
                                            <button class="btn btn-outline-secondary" type="button" id="toggleConfirmPassword">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </div>
                                        <p class="card-text"></p>
                                    <button type="submit" class="btn btn-primary">שנה סיסמה</button>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#togglePassword").click(function() {
                var passwordInput = $("#oldpass");
                var passwordFieldType = passwordInput.attr("type");
    
                if (passwordFieldType === "password") {
                    passwordInput.attr("type", "text");
                    $(this).html('<i class="fa fa-eye-slash"></i>');
                } else {
                    passwordInput.attr("type", "password");
                    $(this).html('<i class="fa fa-eye"></i>');
                }
            });
    
            $("#toggleNewPassword").click(function() {
                var passwordInput = $("#pass1");
                var passwordFieldType = passwordInput.attr("type");
    
                if (passwordFieldType === "password") {
                    passwordInput.attr("type", "text");
                    $(this).html('<i class="fa fa-eye-slash"></i>');
                } else {
                    passwordInput.attr("type", "password");
                    $(this).html('<i class="fa fa-eye"></i>');
                }
            });
    
            $("#toggleConfirmPassword").click(function() {
                var passwordInput = $("#pass2");
                var passwordFieldType = passwordInput.attr("type");
    
                if (passwordFieldType === "password") {
                    passwordInput.attr("type", "text");
                    $(this).html('<i class="fa fa-eye-slash"></i>');
                } else {
                    passwordInput.attr("type", "password");
                    $(this).html('<i class="fa fa-eye"></i>');
                }
            });
        });
    </script>
</body>

</html>
{% endblock %}
