{% extends "base.html" %}

{% block title %} equipment failure {% endblock %}


{% block content %}
<!DOCTYPE html>
<html lang="en">

<!-- Show error/success messages on the screen -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == 'error' %}
                <div class="alert alert-danger alert-dismissable fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% else %}
                <div class="alert alert-success alert-dismissable fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      
        <link rel="stylesheet" href="/static/equipment_failure-style.css">
    
    </head>
    <body class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div >
                    
                        <p class="fst-normal fs-2 text-end"> העברת ציוד</p>
                        <br>

                        <div class="form-outline mb-4 text-end">
                            <p><h5> {{ borrowed_items.item.Type }} :סוג ציוד  </h5></p>
                            <p><h5> {{ borrowed_items.item.model }} :מודל  </h5></p>
                            <p><h5> {{ borrowed_items.aq_serial }} :מקט  </h5></p>
                            <p><h5> {{ borrowed_items.return_date}} :העברה עד תאריך</h5></p>

                            <form method="POST" action="/check_trans" >
                                <div class="form-outline mb-4 text-end">
                                    <input type="hidden" name="aq_serial" value="{{ borrowed_items.aq_serial }}">
                                    <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 1rem; padding-right: 1rem;">העבר</button>
                                    <input type="email" id="form3Example3" name="email" aria-describedby="emailHelp"
                                           class=" form-control-lg text-end" placeholder="הכנס מייל להעברה" />
                                </div>
                            </form>
                            
                            
                        </div>
                        
                        <div class="form-outline mb-4 text-end">
                            
                        </div>
                    
                </div>
            </div>
        </div>
        <script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
    </body>
</html>


{% endblock %}