{% extends "base.html" %}

{% block title %} borrowing history {% endblock %}

{% block content %}

<!doctype html>
<html lang="en">

<head>
  <title>Table 03</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="/static/equipment-style.css">

</head>

<body>
  <section class="ftco-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-end">
          <div class="table-wrap ">
            <h3> ציוד הנמצא בהשאלה</h3>
            <table class="table">
              <thead class="thead-primary text-end">
                <tr>
                  <th></th>
                  <th>תאריך החזרה דרוש</th>
                  <th>תאריך השאלה</th>
                  <th>מק"ט</th>
                  <th>מודל</th>
                  <th>סוג ציוד</th>
                </tr>
              </thead>
              <tbody>
                {% for borrow in borrows %}
                {% if borrow.return_status == 'no' and borrow.item.status=='borrowed'%}
                <form> 
                  <tr>
                    <td><a href="/transfer_form?eq_serial={{ borrow.aq_serial }}" class="btn btn-primary">העבר ציוד</a></td>
                    
                    <td>{{ borrow.return_date }}</td>
                    <td>{{ borrow.borrow_date }}</td>
                    <td>{{ borrow.aq_serial }}</td>
                    <td>{{ borrow.item.model }}</td>
                    <th scope="row" class="scope">{{ eq_dict[borrow.item.Type] }}</th>
                  </tr>
                </form>
                {% endif %}
                {% endfor %}
              </tbody>
            </table>

            <br><br><br>
            <h3> הסטוריית השאלות </h3>
            <table class="table">
              <thead>
                <tr>
                  <th>תאריך החזרה</th>
                  <th>תאריך השאלה</th>
                  <th>מק"ט</th>
                  <th>מודל</th>
                  <th>סוג ציוד</th>
                </tr>
              </thead>
              <tbody>
                {% for borrow in borrows %}
                {% if borrow.return_status != 'no' %}
                <tr>
                  <td>{{ borrow.return_date }}</td>
                  <td>{{ borrow.borrow_date }}</td>
                  <td>{{ borrow.aq_serial }}</td>
                  <td>{{ borrow.item.model }}</td>
                  <th scope="row" class="scope">{{ eq_dict[borrow.item.Type] }}</th>
                </tr>
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

</body>

</html>


{% endblock %}