{% extends "base.html" %}

{% block title %} who_borrowed {% endblock %}


{% block content %}

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section"> פרטי משאיל </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-end"> 
                
                <div class="form-outline mb-4 text-end">
                    <p> <h5> שם: {{borrowed_items.user.name}} </h5></p>
                    <p> <h5> מספר פלאפון : {{borrowed_items.user.phone}}</h5></p>
                    <p> <h5> מייל : {{borrowed_items.user.email}}</h5></p>
                    <p> <h5> סוג ציוד : {{eq_dict[borrowed_items.item.Type]}}</h5></p>
                    <p> <h5> מודל : {{borrowed_items.item.model}}</h5></p>
                    <p> <h5> מקט : {{borrowed_items.aq_serial }}</h5></p>
                    <p> <h5> מושאל עד : {{borrowed_items.return_date}}</h5></p>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
{% endblock %}
